name: Build and Deploy to Kubernetes

on:
  push:
    branches:
      - main

env:
  IMAGE_NAME: snkd92/helloworld

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout repository
      uses: actions/checkout@v4


    - name: Generate version tag
      id: version
      run: echo "VERSION=$(date +%s)" >> $GITHUB_OUTPUT


    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}


    - name: Build Docker image
      run: |
        docker build -t $IMAGE_NAME:${{ steps.version.outputs.VERSION }} .
        docker tag $IMAGE_NAME:${{ steps.version.outputs.VERSION }} $IMAGE_NAME:latest


    - name: Push Docker image
      run: |
        docker push $IMAGE_NAME:${{ steps.version.outputs.VERSION }}
        docker push $IMAGE_NAME:latest


    - name: Setup kubeconfig
      run: |
        mkdir -p ~/.kube
        echo "${{ secrets.KUBE_CONFIG }}" > ~/.kube/config


    - name: Deploy to Kubernetes
      run: |
        kubectl set image deployment/helloworld-deployment \
        helloworld=$IMAGE_NAME:${{ steps.version.outputs.VERSION }}

        kubectl rollout status deployment/helloworld-deployment